.footer {
    background-color: #836cd3;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
  }
  /* Responsive adjustments */
@media (max-width: 768px) {
  .footer {
    padding: 1.5rem 1rem;
    font-size: 0.9rem;
  }
}